@page
@model RazprPagesDemo.Pages.RollDiceModel
@{
}
<h1>Six-Siede Dice Roll Simulator</h1>

<img src="@Model.DieImage" alt="Dice Image" width="200px" height="200px"/>

<form method="post">
    <button type="submit" class="btn btn-primary">Roll Dice</button>
    
</form>